$text-color: #353940; //variable declaration starts with $
$back-color: #697C8C; //no space between two words
$border-color: #586673; //use camel case or hyphenated words
$margin-all: 3px; // be consistent in the use of name stylesheet
$padding-all: 5px; // always write variable on the introPara
$font-size: 20px;
$margin-allBig: 50px 20px;
$line-height: 30px;
